#top{
 
    text-align: center;
    border: 2px solid black;
    padding: 4px;
    width: 75%;
    margin: 0px auto;
    border-radius: 22px;

}
#rule{
    padding: 5px;
    background-color:blue;
    padding: 4px 5px;
    border-radius: 5px;
    color: black;
}
#bottom{
    border: 2px solid black;
    width: 75%;
    margin: 5px auto;
    padding: 4px;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
    border-radius: 22px;
    flex-wrap: wrap;
}
div div img{
    margin: 30px;
    padding: 10px;
    
}
div div img:hover{
    box-shadow: 3px 3px blue;
}
#reset{
    text-align: center;
}